@charset "utf-8";

* {
    background-color: #876445;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}


header li {
    display: inline;
}

a {
    background-color: #F4DFBA;
    padding: 3px;
    margin-left: 5px;
    margin-right:5px ;
    text-decoration: none;
    color: #876445;
}

.teste {
    border: 1px solid #EEC373;
    text-align: center;
}

.teste h3 {
    color: #83fff9;
}

.teste img  {
    width: 10rem;
    padding-left:  47.5%;
    padding-right: 47.5%;
    background-color: #ffffff;
}