@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    font-size: 11px;
}

div {
    border: 1px solid black;
}
section {
    border: 1px solid black;
    margin: 5px; 
    padding: 5px;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(4, 4fr);
    background: #790000;
    gap:3px;
}
.container1 > div {
    background: #a70000;
}
#container1-item1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}
#container1-item2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
#container1-item3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}
#container1-item4 {
    grid-column-start: 1;
    grid-column-end: 5;
}
.container2 {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(4, 4fr);
    background: #791c00;
    gap:3px;
}
.container2 > div {
    background: #a72f00;
}
#container2-item1 {
    grid-column: 1/5;
    grid-row: 1/2;
}
#container2-item2 {
    grid-column: 1/1;
    grid-row: 2/4;

}
#container2-item3 {
    grid-column: 4/5;
    grid-row: 2/4;
}
#container2-item4 {
    grid-column: 1/5;
    grid-row: 4/5;
}
.container3 {
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    grid-template-rows: repeat(5, 5fr);
    background: #685d00;
    gap:3px;
}
.container3 > div {
    background: #9c8500;
}
#container3-item1 {
    grid-area: 1 / 1 / 3 / 3;
}
#container3-item2 {
    grid-area: 1 / 4 / 5 / 7;
}
.container4 {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(4, 4fr);
    background: #036800;
    gap: 1px;

}
.container4 > div {
    width: 50px;
    height: 1fr;
    background: #009c15;
}
#container4-item1 {
    grid-area: 1 / 1 / 3 / 3;
    justify-self: end;
}
#container4-item2 {
    grid-area: 1 / 3 / 3 / 5;
    justify-self:stretch;
}
#container4-item3 {
    grid-area: 3 / 1 / 5 / 3;
    justify-self:left;
}
#container4-item4 {
    grid-area: 3 / 3 / 5 / 5;
    justify-self:right;

}
.container5 {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(4, 4fr);
    background: #003968;
    gap:3px;
}
.container5 > div {
    
    background: #00519c;
}
#container5-item1 {
    grid-area: 1 / 1 / 3 / 3;
    align-self: center;
}
#container5-item2 {
    grid-area: 1 / 3 / 1 / 5;
    align-self: center;
}
#container5-item3 {
    grid-area: 3 / 1 / 5 / 3;
    align-self:normal;
}
#container5-item4 {
    grid-area: 3 / 3 / 5 / 5;
    align-self:last baseline;
}
.container6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50px);
    background: #390068;
    gap:3px;
}
.container6 > div {
    width: 10px;
    height: 10px;
    background: #70009c;
}
#container6-item1 {
    grid-area: 1 / 1 / 2 / 1;
    place-self: start center;
}
#container6-item2 {
    grid-area: 1 / 2 / 2 / 3;
    place-self: end center;
}
#container6-item4 {
    grid-area: 2 / 1 / 3 / 2;
    place-self: center center;
}
#container6-item4 {
    grid-area: 2 / 2 / 3 / 3;
    place-self: strech normal;
}

