@charset "utf-8"; 
body { 
    font-family: "Tahoma", sans-serif; 
    background: #333; 
    color: #fff; 
    text-align: center; 
} 

h2 { 
    text-align: center; 
} 

.col {
    display:inline-block;
    margin: auto; 
    width: 30%; 
    padding: 8px; 
    box-sizing: border-box; 
} 

.price-box { 
    background: #d7d7d7; 
    color: #555; 
    list-style-type: none; 
    border: 1px solid #555;
    margin: 0; 
    padding: 0; 
}
.price-box .header { 
    background-color: #111; 
    color: #fff; 
    font-size: 25px; 
} 

.price-box .header.header-green { 
    background: #4caf50; 
}

.price-box li { 
    padding: 20px; 
    border-bottom: 20px solid #eee; 
    text-align: center; 
} 
.btn { 
    border-radius: 10px;
    background-color: #4caf50; 
    border: none; 
    color: #fff; 
    padding: 10px 15px; 
    text-align: center; 
    text-decoration: none; 
    font-size: 18px; 
} 

@media(max-width:800px) { 
    .col { 
        width: 100%; 
    } 
}  
