@charset 'utf-8';
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #181818;
}
figure {
    text-align: center;
}
/* Medidas Absolutas */
header {
    padding: 1cm;
    border-bottom: 0.1cm solid #000;
    background-color: #f00;
    color: #fff;
}
nav {
    padding: 0.15in;
    display: block;
    background-color: #720000;
}

article {
    margin: 5px;
    padding: 20px;
    border: 10px outset #000;
    background-color: rgb(109, 108, 108);
}

/* Medidas Relativas */
h1 {
    margin: 1rem ;
    padding: 1rem;
}

li{
    padding: 0.2vh 0.2vh;
    margin: 0.5em;
    padding:0.5em;
    text-align: center;
    list-style-type: none;
}
a {
    padding: 1vh 1vh;
    display: inline-block;
    border: 0.5vh outset rgb(202, 202, 202);
    color: #000000;
    background-color: rgb(171, 171, 171);
    text-align: center;
}

img {
    margin: 2vw;
    border: 1vw outset rgb(202, 202, 202);
}

p {
    font-size: 15%;
}