@charset 'utf-8';

#image {
    border: 1px solid #000000;
    padding: 20px;
}

#Shisui {
    border: 1px solid #000000;
    padding: 20px;
}

#Danzo {
    border: 1px solid #000000;
    padding: 20px;
}