@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background: #fdfdfd;
    letter-spacing: 1px;
}
body img {
    width:  10%;
    height: 10%;
}

h4{
    margin: 0px;
    padding: 30px;
    background-color: #00AFF0;
    border-bottom: 3px solid #8A96A3;
    color: #ffffff;
    text-shadow:1px 1px 2px #27272B;
    font-size:5vh;
    font-family: 'Pacifico', cursive;
}

header li {
    display: inline;
}
header nav {
    padding: 10px;
    background-color: #27272B;
    border-bottom: 3px solid #8A96A3;
}
header a {
    margin: 6px;
    color: #ffffff;
    text-decoration:dashed;
}
main {
    margin: 10px;
    text-shadow:1px 1px 2px #27272B;
    font-size: x-large;
}

main article  {
    font-weight: 100;
    margin-left: 5px;
}

main article h3 {
    font-weight: 100;
    
}
main article p {
    font-weight: 700;
    
}



