body {
    background-image: url(https://img.freepik.com/fotos-gratis/nuvem-branca-no-ceu-azul_74190-7709.jpg?w=2000;);
    background-size: cover;
    background-repeat: no-repeat;
}

figure{
    max-width: 700px;
    min-width: 650px;
    text-align: center;
    background-color: #f3f3df;
    padding: 7px;
    border: 4px outset black;
}
img {
    
    max-width: 600px;
    border: 1px solid black;
}
figcaption{
    background-color: #e0e0c8;
    font-size: xx-large;
    border: 1px solid black;
}